.header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

.header img {
    width: 60px;
}

.header h1 {
    color: rgb(86, 131, 247);
}

.header-container h2 {
    margin-bottom: 30px;
}